In [151]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [152]:
# Import data set
df = pd.read_csv('AAPL.csv')

In [153]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,07/12/2020,122.309998,124.570000,122.250000,123.750000,122.991783,86712000
1,08/12/2020,124.370003,124.980003,123.089996,124.379997,123.617920,82225500
2,09/12/2020,124.529999,125.949997,121.000000,121.779999,121.033844,115089200
3,10/12/2020,120.500000,123.870003,120.150002,123.239998,122.484901,81312200
4,11/12/2020,122.430000,122.760002,120.550003,122.410004,121.659996,86939800
...,...,...,...,...,...,...,...
247,30/11/2021,159.990005,165.520004,159.919998,165.300003,165.300003,174048100
248,01/12/2021,167.479996,170.300003,164.529999,164.770004,164.770004,152052500
249,02/12/2021,158.740005,164.199997,157.800003,163.759995,163.759995,136739200
250,03/12/2021,164.020004,164.960007,159.720001,161.839996,161.839996,117938300
251,06/12/2021,164.289993,167.879898,164.279999,165.794998,165.794998,56780323

In [154]:
# Exploratory data analysis
### Type of each variable
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [155]:
### Shape of the data
df.shape

(252, 7)

In [156]:
### NAN
df.isna().sum() # By default it is axis = 0; it will sum by columns --> for each variable rather than each observation

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [157]:
### Create label column
steps = 5
labels = df['Close'].shift(-steps)
labels

0      121.779999
1      127.879997
2      127.809998
3      128.699997
4      126.660004
          ...
247           NaN
248           NaN
249           NaN
250           NaN
251           NaN
Name: Close, Length: 252, dtype: float64

In [158]:
### Create the feature array
X = np.array(df[['Close']])

In [159]:
from sklearn.preprocessing import scale
X = preprocessing.scale(X)

In [160]:
# The column that will be used in the predict method
X_lately = X[-steps:]

In [161]:
# The final X
X = X[:-5]

In [162]:
# label vector

labels.dropna(inplace = True)
y = np.array(labels)

In [163]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

In [164]:
from sklearn.linear_model import LinearRegression

In [165]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [170]:
score = lr.score(X_test,y_test)

In [171]:
forecast = lr.predict(X_lately)

In [172]:
response = {}
response['test_score'] = score
response['forcast_set'] = forecast
print(response)

{'test_score': 0.9093741600477602, 'forcast_set': array([164.8578578 , 164.35095938, 163.38497272, 161.54865896,
       165.33127791])}

In [ ]:
# https://thecleverprogrammer.com/2020/11/14/stock-price-prediction-using-machine-learning/#google_vignette